@import "tailwindcss";

@theme {
  --color-old-gold-50: #fbfaeb;
  --color-old-gold-100: #f6f5cb;
  --color-old-gold-200: #ede89b;
  --color-old-gold-300: #e3d661;
  --color-old-gold-400: #d9c236;
  --color-old-gold-500: #d3b42a;
  --color-old-gold-600: #ae8920;
  --color-old-gold-700: #8b651d;
  --color-old-gold-800: #74511f;
  --color-old-gold-900: #634420;
  --color-old-gold-950: #39240f;
}
